.rodape {
  background: #6278f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px;
}
.rodape__lista {
  display: flex;
  list-style: none;
}
.rodape__lista li {
  margin: 0 40px;
}
.rodape section p {
  font-size: 24px;
  color: antiquewhite;
}
@media (max-width: 1040px) {
  .rodape {
    flex-direction: column;
    gap: 30px;
  }
}
